# Save as ~/.compass-notify.config

# Compass config root directory - necessary because iTerm2 doesn't know the full path
# All .scss files should be relative to this
BASE="/path/to/wp-content/themes/theme_name/compass_root_dir"

# set to 1 to use growl, 0 to use notification center (via terminal-notifier)
USE_GROWL="0"

# If using notification center, open files using subl file:line instead of with subl:// url (which requires a custom handler)
NC_USE_SUBL_COMMAND="01"

# optional - path for an icon for growl notifications
GROWL_ICON="/Applications/Utilities/Terminal.app/Contents/Resources/Terminal.icns"

# path to various binaries
GROWL_NOTIFY_PATH="/usr/local/bin/growlnotify"
TERMINAL_NOTIFY_PATH="/path/to/compass-terminal-notifier.app/Contents/MacOS/compass-terminal-notifier"
SUBL_PATH="/usr/local/bin/subl"